
SELECT
       [ship_method]
      ,('#' + [package_trace_id]) AS [package_trace_id]
      ,[order_id]
  FROM [PH_PROD].[dbxx].[hi_work_cartons]
  WHERE [order_id] in ( '6529922' , 
 '6528542' , 
 '6530062' , 
 '6526037' , 
 '6530148' , 
 '6530095' , 
 '6530060' , 
 '6526747' , 
 '6530131' , 
 '6529527' , 
 '6525062' , 
 '6529808' , 
 '6530340' , 
 '6530468' , 
 '6530563' , 
 '6528103' , 
 '6530571' , 
 '6530144' , 
 '6529268' , 
 '6531016' , 
 '6530237' , 
 '6531005' , 
 '6529426' , 
 '6526431' , 
 '6530951' , 
 '6530256' , 
 '6531363' , 
 '6531287' , 
 '6525051' , 
 '6530372' , 
 '6526788' , 
 '6531950' , 
 '6526841' , 
 '6531313' , 
 '6531319' , 
 '6530448' , 
 '6528453' , 
 '6527593' , 
 '6527849' , 
 '6532030' , 
 '6532187' , 
 '6532251' , 
 '6532467' , 
 '6532684' , 
 '6532565' , 
 '6529228' , 
 '6530805' , 
 '6530174' , 
 '6525109' , 
 '6533712' , 
 '6534133' , 
 '6534009' , 
 '6533913' , 
 '6533849' , 
 '6534541' , 
 '6534374' , 
 '6534785' , 
 '6534749' , 
 '6535030' , 
 '6535044' , 
 '6535237' , 
 '6535182' , 
 '6532757' , 
 '6535645' , 
 '6535751' , 
 '6535817' , 
 '6535618' , 
 '6536101' , 
 '6536596' , 
 '6536688' , 
 '6537296' , 
 '6537134' , 
 '6536929' , 
 '6537185' , 
 '6537935' , 
 '6537997' , 
 '6536842' , 
 '6538215' , 
 '6538383' , 
 '6538291' , 
 '6538471' , 
 '6538581' , 
 '6538963' , 
 '6539244' , 
 '6538135' , 
 '6540641' , 
 '6544700' , 
 '6539874' , 
 '6539059' , 
 '6545838' , 
 '6541646' , 
 '6542400' , 
 '6529701' , 
 '6543400' , 
 '6537177' , 
 '6543726' , 
 '6543547' , 
 '6530724' , 
 '6544997' , 
 '6545089' , 
 '6545691' , 
 '6527758' , 
 '6541544' , 
 '6547248' , 
 '6547168' , 
 '6547644' , 
 '6545322' , 
 '6547278' , 
 '6547546' , 
 '6547712' , 
 '6547371' , 
 '6548820' , 
 '6395147' , 
 '6540637' , 
 '6549726' , 
 '6549942' , 
 '6549203' , 
 '6550717' , 
 '6549020' , 
 '6528299' , 
 '6551645' , 
 '6551803' , 
 '6551863' , 
 '6548354' , 
 '6552490' , 
 '6552166' , 
 '6552244' , 
 '6537902' , 
 '6553555' , 
 '6553888' , 
 '6554116' , 
 '6554439' , 
 '6554890' , 
 '6555168' , 
 '6555326' , 
 '6555440' , 
 '6555623' , 
 '6556633' , 
 '6555840' , 
 '6558090' , 
 '6556728' , 
 '6556598' , 
 '6556918' , 
 '6557091' , 
 '6557217' , 
 '6557353' , 
 '6557488' , 
 '6559492' , 
 '6557447' , 
 '6557889' , 
 '6557940' , 
 '6558126' , 
 '6558138' , 
 '6558134' , 
 '6558320' , 
 '6558369' , 
 '6538575' , 
 '6558558' , 
 '6538220' , 
 '6557993' , 
 '6530829' , 
 '6557038' , 
 '6559363' , 
 '6558506' , 
 '6560469' , 
 '6560336' , 
 '6560511' , 
 '6560632' , 
 '6560205' , 
 '6537727' , 
 '6561480' , 
 '6547502' , 
 '6561579' , 
 '6561554' , 
 '6562189' , 
 '6562313' , 
 '6564034' , 
 '6564392' , 
 '6534060' , 
 '6566368' , 
 '6564899' , 
 '6561322' , 
 '6566214' , 
 '6566456' , 
 '6566398' , 
 '6560401' , 
 '6559924' , 
 '6567551' , 
 '6568702' , 
 '6568825' , 
 '6570729' , 
 '6288203' , 
 '6569782' , 
 '6570068' , 
 '6570498' , 
 '6569781' , 
 '6571280' , 
 '6570571' , 
 '6571720' , 
 '6571755' , 
 '6572001' , 
 '6572175' , 
 '6573092' , 
 '6573278' , 
 '6573380' , 
 '6573259' , 
 '6573559' , 
 '6569051' , 
 '6574415' , 
 '6574537' , 
 '6574666' , 
 '6575355' , 
 '6575751' , 
 '6576391' 
)

