
SELECT  [Item]
      ,[UM loc from]
	  ,[A1 Loc to]
	  ,[A1]
	  ,[A1 Priority] AS [A1]
      ,[A2 Loc to]
      ,[A2]
      ,[A2 Priority]AS [A2]
      ,[B1 Loc to]
      ,[B1]
      ,[B1 Priority]AS [B1]
      ,[B2 Loc to]
      ,[B2]
      ,[B2 Priority]AS [B2]
      ,[C loc to]
      ,[C]
      ,[C Priority]AS [C]
      ,[D loc to]
      ,[D]
      ,[D Priority]AS [D]
      ,[E loc to]
      ,[E]
      ,[E Priority]AS [E]
      ,[F loc to]
      ,[F]
      ,[F Priority]AS [F]
      ,[G loc to]
      ,[G]
      ,[G Priority]AS [G]
      ,[H loc to]
      ,[H]
      ,[H Priority]AS [H]
      ,[Overall Priority]
  FROM [Metrics Reports].[dbo].[View_UpperMezzanineList]
  WHERE item not in ('PG8004','PG8005')/*** These items are packaging***/
  AND [Um loc from] is not null
  --and [UM loc from] not like 'UM%'/***This is to filter for lower mezzanine locations***/
  AND SUBSTRING([UM loc from],1,3) not in ('LM0','LM1')/***This is a filter for only locations on Upper Mezzanine***/