/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [PickerId]
      ,[PickerName]
      ,[PickerBarCode]
      ,[LastName]
      ,[FirstName]
      ,[MiddleInitial]
      ,[Password]
      ,[LoggedIn]
      ,[CurrentBatch]
      ,[CurrentPickOrderId]
      ,[CartId]
      ,[RfCount]
      ,[TargetRate]
      ,[LanguageId]
      ,[FacilityId]
  FROM [LPPick].[dbo].[Pickers]
  WHERE [PickerId] IN ('70','102','238','266','316','398')